body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}


#cards {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-gap: 10px;
}

.card {
    width: auto;
    height: 200px;
    border-radius: 10px;
    border: #ff4d56 solid 5px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

#score {
    font-weight: bold;
}